<div class="feed">
    <div class="feed-post-username">
      <%= link_to post.user.user_name, profile_path(post.user.user_name) %>
    </div>
    <div class="feed-post-image">
      <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
    </div>
    <div class="feed-post-caption">
      <%= post.caption%>
    </div>
  </div>